---
import './MainPage.css';
---

<main class="main">
  <div class="intro content-wrapper">
    <p class="intro__hi">Привет, меня&nbsp;зовут</p>
    <h1 class="intro__name">Максим Тарасов</h1>
  </div>
</main>
