:root {
	--color-gray-50: #f2f2f2;
	--color-gray-100: #d9d9d9;
	--color-gray-200: #bfbfbf;
	--color-gray-300: #a6a6a6;
	--color-gray-400: #8c8c8c;
	--color-gray-500: #737373;
	--color-gray-600: #595959;
	--color-gray-700: #404040;
	--color-gray-800: #262626;
	--color-gray-900: #0d0d0d;
	--color-primary-100: #effdfe;
	--color-primary-200: #dffafe;
	--color-primary-300: #d0f4fe;
	--color-primary-400: #c3edfd;
	--color-primary-500: #b0e2fc;
	--color-primary-600: #80b4d8;
	--color-primary-700: #5889b5;
	--color-primary-800: #386292;
	--color-primary-900: #214478;
	--color-success-100: #ddfdd7;
	--color-success-200: #b3fcaf;
	--color-success-300: #86f88b;
	--color-success-400: #67f179;
	--color-success-500: #37e860;
	--color-success-600: #28c75c;
	--color-success-700: #1ba756;
	--color-success-800: #11864e;
	--color-success-900: #0a6f48;
	--color-info-100: #d1f1fe;
	--color-info-200: #a4dffe;
	--color-info-300: #77c8fe;
	--color-info-400: #55b1fd;
	--color-info-500: #1e8dfc;
	--color-info-600: #156dd8;
	--color-info-700: #0f51b5;
	--color-info-800: #093992;
	--color-info-900: #052878;
	--color-warning-100: #fbfdcc;
	--color-warning-200: #f7fb9a;
	--color-warning-300: #eef467;
	--color-warning-400: #e1e940;
	--color-warning-500: #d0db08;
	--color-warning-600: #b1bc05;
	--color-warning-700: #939d04;
	--color-warning-800: #767f02;
	--color-warning-900: #616901;
	--color-danger-100: #ffe7e1;
	--color-danger-200: #ffcac4;
	--color-danger-300: #ffa7a7;
	--color-danger-400: #ff919b;
	--color-danger-500: #ff6d88;
	--color-danger-600: #db4f76;
	--color-danger-700: #b73667;
	--color-danger-800: #932257;
	--color-danger-900: #7a144e;
}