@import './reset.css';
@import './tokens.css';

html {
  @media (prefers-color-scheme: light) {
    --color: var(--color-gray-800);
    --background-color: var(--color-gray-50);
  }

  @media (prefers-color-scheme: dark) {
    --color: var(--color-gray-50);
    --background-color: var(--color-gray-800);
  }

  font-family: -apple-system, ui-sans-serif, system-ui, BlinkMacSystemFont,
    Segoe UI, Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--background-color);
}

.visually-hidden {
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}

.main {
  color: var(--color);
  background-color: var(--background-color);
  display: flex;
  flex-grow: 1;
}

.content-wrapper {
  --content-gutter: 16px;

  max-width: 800px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--content-gutter);
  padding-left: var(--content-gutter);
}
