---
layout: page.njk
title: My Rad Nunjucks Blog Post
---
<main class="main column" id="main">
	<div class="main__gaps">
    <div class="hero">
      <p class="hero__hi">
        Привет! Меня зовут
      </p>
      <h1>
        Максим Тарасов
      </h1>
    </div> 
  </div>
</main>
