---
import './Layout.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru" data-color-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Личный сайт Максима Тарасова, фронтенд-разработчика" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon_dark.svg"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon_light.svg"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="body">
    <slot />
  </body>
</html>
