.main-page {
  padding-top: 64px;
  padding-bottom: 64px;
}

.main-page h1 {
  color: var(--color);
}

.main-page p {
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--color);

  @media (prefers-color-scheme: dark) {
    opacity: 0.8;
  }
}

.block + .block {
  margin-top: 32px;
}

.block__description {
  color: var(--color);
}

.block__description + .block__content {
  margin-top: 16px;
}
