.socials {
  list-style-type: none;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  display: flex;
  flex-flow: row nowrap;

  li + li {
    margin-left: 16px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    color: var(--color);
  }

  a:hover {
    color: var(--color);
  }

  svg {
    width: 100%;
  }
}