.socials {
  list-style-type: none;
  margin-block-start: unset;
  margin-block-end: unset;
  padding-inline-start: unset;
  display: flex;
  flex-flow: row nowrap;
}

.socials li + li {
  margin-left: 16px;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--color);
}

.socials a:hover {
  color: var(--color);
}

.socials svg {
  width: 100%;
}
