---
import './Header.css';
---

<header class="header">
  <div class="content-wrapper">
    <!-- <nav class="menu" aria-label="Основное">
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="/" aria-current="page">Домой</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="/about/">Обо мне</a>
        </li>
      </ul>
    </nav> -->
  </div>
</header>
